html {
    scroll-behavior: smooth;
    margin: auto;
  }
body{ 
    background-repeat: no-repeat;
    background-size:cover;
    background-image: url("/static/img/background.png");
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    margin:auto;
    width:100%;
    height: 3000px;
    
}

/* -------------------------- MAIN  SECTION --------------------------*/

div.content-main{
    background-image: url("/static/img/main-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 25%;
}

/* -------------------------- TOP  SECTION --------------------------*/

div.content-main div.topbar{
    width: 80%;
    height: 15%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

/* -------------------------- TOP LEFT SECTION --------------------------*/

div.topbar-left div.logo{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}
div.topbar-left div.logo a{
    align-items: center;
    display: flex;
    width: 170px;
    height: 50px;
    text-decoration: none;
    margin-top: 2px;
}
div.topbar-left div.logo img{
    margin-top: 2px;
    display: flex;
    width: 40px;
    height: 40px;
}
div.topbar-left div.logo p{
    display: flex;
    align-items: center;
    font-size: 28px;
    color: #ffffff;
    margin-left: 10px;
    font-family: 'Nunito', 'sans-serif';
    font-weight: 700;
}

/* -------------------------- TOP RIGHT SECTION --------------------------*/

div.topbar-right div.navbar{
    display: flex;
    align-items:center;
    width: 100%;
    height: 100%;
}
div.topbar-right div.navbar ul{
    display: flex;
    align-items:center;
    list-style: none;
}
div.topbar-right div.navbar ul li{
    margin-left: 40px;
    width: 100%;
    height: 100%;
}
div.topbar-right div.navbar ul li a{ 
    color: #ffffff;
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
}

div.topbar-right div.navbar ul li a.login-button{
    background-color: #ffffff;
    margin-left: 30px;
    border-radius: 6px;
    color: #5372DD;
    padding:10px;
    padding-left: 20px;
    padding-right: 20px;
}

/* -------------------------- NOTICE SECTION --------------------------*/

div.content-main div.main-notice{
    width: 1200px;
    height: 85%;
    margin: auto;
}

div.main-notice{    
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}
/* -------------------------- NOTICE LEFT SECTION --------------------------*/

div.main-notice div.notice-left{    
    width: 48%;
    margin-right: 2%;
    height: 60%;
    float: left;
    color: white;
}
div.notice-left div.notice-title{

}
div.notice-left div.notice-description{
    margin-top: 5%;
}
div.notice-left div.notice-buttons{
    margin-top: 7%;
    width: 100%;
    height: 30%;
}
div.notice-buttons button.buttons-android{
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    color: white;
    font-size: 16px;
    font-weight: 500;
    margin-right: 15px;
    padding:10px;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 3px;
    background-color: transparent;
    border: #36e196 2px solid;
}
div.notice-buttons button.buttons-android:hover {
    background-color: #36e196;
    color:white;
  }

div.notice-buttons button.buttons-web{
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    color:#ffffff;
    font-size: 16px;
    font-weight: 500;
    padding:10px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 3px;
    background-color: transparent;
    border: #ffffff 2px solid;
}
div.notice-buttons button.buttons-web:hover {
    background-color: #ffffff;
    color: #5372DD;
  }

/* -------------------------- NOTICE RIGHT SECTION --------------------------*/

div.main-notice div.notice-right{    
    width: 50%;
    height: 50%;
    float: right;
}
div.notice-right div.notice-image img{
    width: 100%;
    height: 300px;
    opacity: 0.9;
}


/* -------------------------- KNOW US  SECTION --------------------------*/

div.block-know-us{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
}
div.content-know-us{
    
    width: 1200px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;

}

/* -------------------------- KNOW US LEFT SECTION --------------------------*/

div.content-know-us div.know-us-left{
    width: auto;    
    height: 100%;
}
div.know-us-left div.know-us-image{
    width: 50%;
    height: 85%;
}
div.know-us-left div.know-us-image img{
    width: 480px;
    height: 80%;
    border-radius: 6px;

}

/* -------------------------- KNOW US RIGHT SECTION --------------------------*/

div.content-know-us div.know-us-right{
    width: 50%;
    height: 100%;
    margin-left: 5%;
}
div.know-us-right div.know-us-information{
    width: 100%;
    height: 100%;
    
    
}

div.know-us-right div.know-us-information div.know-us-title h5{
    color: #F3B202;
    padding: 0px;
    margin: 0px;
}

div.know-us-right div.know-us-information div.know-us-buttons{
    margin-top: 5%;
    width: 100%;
    height: 30%
}

div.know-us-right div.know-us-information div.know-us-buttons button{
    margin-top: 5%;
    padding-left: 15px;
    padding-right:15px;
    padding: 15px;
    background-color: white;
    color:#5372DD;
    border: #5372DD 2px solid;
    font-size: 14px;
    font-weight: 500;
    border-radius: 6px;
}
div.know-us-right div.know-us-information div.know-us-buttons button:hover{
    background-color: #5372DD;
    color:white;
}

/* -------------------------- SERVICES SECTION --------------------------*/

div.block-services{
    width: 100%;
    height: 20%;
    display: flex;
    background-color: #f3f3f3;
}
div.content-services{
    
    width: 1200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}
div.content-services div.services-title{
    width: 100%;
    height: 25%;
    margin-top: 5%;
}
div.content-services div.services-box{
    width: 90%;
    height: 55%;
    margin-bottom: 5%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
div.content-services div.services-title{
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    width: 100%;
    height: 25%;
}
div.content-services div.services-title h5{
    color:#F3B202;
}

div.services-box div.services-card{
    background-color: #ffffff;
    border-radius: 6px;
    height: 120px;
    width: 400px;
    display: flex;
    flex-direction: row;
    margin-top: 4%;

}
div.services-box div.services-card:hover{
    background-color: #ffffff;
}
div.services-box div.services-card:hover div.card-image{
    opacity: 0.2;
}
div.services-box div.services-card:hover div.card-text{
    opacity: 0.2;
}

div.services-card div.card-image{
    margin-top: 1.5%;
    margin-left: 1.5%;
    justify-content: center;
    display: flex;
    height: 90%;
    width: 25%;

}
div.services-card div.card-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 1%;
    width: 60%;
    height: 100%;
}

div.services-card div.card-text p.card-title{
    color: black;
    font-size: 16px;
    font-weight: 600;
    margin-top: 4%;
}
div.services-card div.card-text p.card-description{
    color: black;
    font-size: 14px;
    font-weight: 500;
    margin-top: 0.1%;
}


/* -------------------------- CONTACT  SECTION --------------------------*/

div.block-contact{
    width: 100%;
    height: 30%;
}
div.content-contact{
    width: 1200px;
    height: 100%;
    margin: auto;
}
div.content-contact div.contact-map{
    width: 100%;
    height: 60%;
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
/* -------------------------- CONTACT LEFT  SECTION --------------------------*/

div.contact-map div.map-left{
    width: 40%;
    height: 100%;
}
div.map-left div.map-title h5{
    color:#F3B202;
}
/* -------------------------- CONTACT RIGHT  SECTION --------------------------*/

div.contact-map div.map-right{
    margin-left:10%;
    width: auto;
    height: 80%;
    display: flex;
}
/* -------------------------- CONTACT BOTTOM SECTION --------------------------*/

div.contact-footer{
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;

}

div.footer-block{
    border-radius: 6px;
    background-image: url("/static/img/contact-image.png");
    background-repeat: no-repeat;
    background-position: 90% 40%;
    background-size: 15%;
    background-color: #5071E3;
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
    height: 60%;
    display: flex;
    justify-content: center;
}
div.footer-block div.footer-information{
    width: 60%;
    height: 90%;
    display: flex;
    color: white;
    flex-direction: column;
}

div.footer-block div.footer-image{
    width: 30%;
    height: 100%;
}

div.footer-information div.footer-title h2{
    
}
div.footer-information div.footer-description{
    font-size: 14px;
    
}
div.footer-information div.footer-buttons button{
    padding:10px;
    padding-right:15px;
    padding-left:15px;
    margin-top:2%;
    background-color: #36e196;
    color:white;
    border: #36e196 2px solid;
    font-size: 14px;
    font-weight: 500;
    border-radius: 3px;
    
}