{% extends './layout.html' %}

{% block head%}

    <link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/home.css')}}">    
    <link rel="stylesheet" href="{{url_for('static', filename='css/home-responsive.css')}}">

    <title>Apitool</title>

{% endblock %}


{% block body%}


    <div class="content-main">
        <div class="topbar">
            <div class="topbar-left">
                <div class="logo">
                    <a href="{{url_for('Index')}}">
                        <img src="{{url_for('static', filename='img/logo2.png')}}" alt="logo">
                        <p>APITOOL</p>
                    </a>
                </div>
            </div>
            <div class="topbar-right">
                <div class="navbar">
                    <ul>
                        <li><a href="{{url_for('Index')}}">Inicio</a></li>
                        <li><a href="#block-know-us">Nosotros</a></li>
                        <li><a href="#block-services">Servicios</a></li>
                        <li><a href="#block-contact">Contacto</a></li>
                        <li><a class="login-button" href="{{url_for('login')}}">Ingresar</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="main-notice">
            <div class="notice-left">
                <div class="notice-title">
                    <h1>¿Qué es Apitool?</h1>
                </div>
                <div class="notice-description">
                    <p> Es un servicio de medios sociales y herramientas de gestion para la comunidad de apicultores en argentina, Permitiendo a los usuarios interactuar, colaborar entre sí y desarrollar su trabajo de una manera mas eficaz proporcionando software de ultima tecnologia. </p>
                    <p> Descarga la ultima version T0.0.1</p>
                </div>
                <div class="notice-buttons">
                    <button class="buttons-android">Android</button>
                    <button class="buttons-web">Web</button>
                </div>


            </div>
            <div class="notice-right">
                <div class="notice-image">
                    <img src="{{url_for('static', filename='img/notice-image.png')}}" alt="notice-image">
                </div>
            </div>
        </div>
    </div>

    <div class="block-know-us" id="block-know-us">
        <div class="content-know-us">
        <div class="know-us-left">
            <div class="know-us-image">
                <img src="{{url_for('static', filename='img/know-us.jpg')}}" alt="know-us-image">
            </div>
        </div>
        <div class="know-us-right">
            <div class="know-us-information">
                <div class="know-us-title">
                    <h5>CONOCENOS UN POCO</h5>
                    <h1>Empresa desarrolladora de software</h1>
                </div>
                <div class="know-us-description">
                    <p> En Apitool, conocemos la gran importancia de las herramientas en el trabajo, por eso dedicamos tiempo a construir las mejores herramientas del mercado.

                        Somos un equipo experimentado en las necesidades del presente, te ayudaremos a trabajar de forma mas cómoda y eficiente, te enseñaremos como explotar al máximo tus recursos y profesionalizarte como apicultor.</p>
                    <p> Descarga la ultima version T0.0.1</p>
                </div>
                <div class="know-us-buttons">
                    <button>Leer mas</button>
                </div>


            </div>
        </div>
        </div>
    </div>

    <div class="block-services" id="block-services">
        <div class="content-services">
        <div class="services-title">
            <h5>NUESTROS SERVICIOS</h5>
            <h1>Encuentra herramientas</h1>
        </div>
        <div class="services-box">
            {% from "card.html" import services_card %}

            {{ services_card("HERRAMIENTAS","Puedes administrar tus apiarios desde el celular o la computadora y compartirlo con tus amigos.", "img/tools.png")}}

            {{ services_card("LIBROS Y GUIAS","Libros y muchas guías actualizadas, para que aprendas de forma rápida y simple.", "img/tools.png")}}

            {{ services_card("CHAT ONLINE","Comparte tu experiencia laboral, aprende, enseña y comunícate con otros apicultores.", "img/tools.png")}}

            {{ services_card("fdsafdsafds","Promedios tuyos y globales, te ayudara a ser mas eficiente y tomar mejores decisiones.", "img/tools.png")}}

        </div>
        </div>
    </div>

    <div class="block-contact" id="block-contact">
        <div class="content-contact">
            <div class="contact-map">
                <div class="map-left">
                    <div class="map-title">
                        <h5>CONOCENOS UN POCO</h5>
                        <h1>Empresa desarrolladora de software</h1>
                    </div>
                    <div class="map-description">
                        <p> En Apitool, conocemos la gran importancia de las herramientas en el trabajo, por eso dedicamos tiempo a construir las mejores herramientas del mercado.
    
                            Somos un equipo experimentado en las necesidades del presente, te ayudaremos a trabajar de forma mas cómoda y eficiente, te enseñaremos como explotar al máximo tus recursos y profesionalizarte como apicultor.</p>
                        <p> Descarga la ultima version T0.0.1</p>
                    </div>
                </div>
                <div class="map-right">
                    <img src="{{url_for('static', filename='img/contact-map.png')}}" alt="know-us-image">
                </div>
            </div>
            <div class="contact-footer">
                <div class="footer-block">
                    <div class="footer-information">
                        <div class="footer-title">
                            <h3>NESESITAS NUESTRA AYUDA?</h3>
                        </div>
                        <div class="footer-description">
                            <p>Contacta nuestro soporte que te ayudara a resolver tus dudas,  te responderemos lo mas pronto posible, antes de las 24 horas!</p>
                        </div>
                        <div class="footer-buttons">
                            <button>Contacto</button>
                        </div>
                    </div>
                    <div class="footer-image">
                    </div>
                </div>
            </div>
        </div>
    </div>

  

{% endblock %}