{% macro selectLogin() %}
<div class="right-top">
    <div class="right-title">BIENVENIDO A</div>
    <div class="right-logo">
        <img src="{{url_for('static', filename='img/main/logo2.png')}}" alt="logo">
        <p>APITOOL</p>
    </div>
</div>
<div class="right-middle">
    <div class="right-form">
        <form action="{{url_for('login')}}" method="post">
            <div class="username-input">
                <p>用户名</p>
                <input class="input" type="text" name="username" placeholder="用户名">
            </div>
            <div class="password-input">
                <p>用户名</p>
                <input class="input" type="password" name="password" placeholder="密码">
            </div>
            <div class="login-summit">
                <input class="submit" type="submit" value="登录">
            </div>
            <div class="right-forgotten"> 
                <a href="{{url_for('login')}}">忘记密码</a>
            </div>
        </form>
    </div> 
</div>
      
<div class="right-bottom"> 
    <a onclick="selectRegister()">No tienes cuenta? Creala ahora!</a>
</div>


{% endmacro %}

{% macro selectRegister() %}
<div class="right-top">
    <div class="right-title">BIENVENIDO A</div>
    <div class="right-logo">
        <img src="{{url_for('static', filename='img/main/logo2.png')}}" alt="logo">
        <p>APITOOL</p>
    </div>
</div>
<div class="right-middle">
    <div class="right-form">
        <form action="{{url_for('login')}}" method="post">
            <div class="username-input">
                <p>用户名</p>
                <input class="input" type="text" name="username" placeholder="用户名">
            </div>
            <div class="password-input">
                <p>密码</p>
                <input class="input" type="password" name="password" placeholder="密码">
            </div>
            <div class="email-input">
                <p>邮箱</p>
                <input class="input" type="text" name="email" placeholder="邮箱">
            </div>
            <div class="login-summit">
                <input class="submit" type="submit" value="登录">
            </div>
        </form>
    </div> 
</div>
      
<div class="right-bottom"> 
    <a href="" onclick="selectLogin()">Ya tienes cuenta? Inicia ahora!</a>
</div>


{% endmacro %}
    
    