<!DOCTYPE html>
<html>
<head>
    
    <title>Apitool</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard/dashboard.css') }}">
	<meta charset="UTF-8">
    <link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oxygen:100,200,300,400,500,600,700">  
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:100,200,300,400,500,600,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:100,200,300,400,500,600,700">
	{% block head%}

	{% endblock%}
</head>
<body>
	{% block body%}
	
	{% endblock%}
</body>
</html>